.Info{
    text-align: center;
    margin-bottom: 50px;
    font-family: DialogInput;
}
.Nombre{
    padding: 8px;
}
.Telefono{
    padding: 8px;
}
.Direccion{
    padding: 8px;
}
.parrafo{
    font-family: DialogInput;
}
